.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #1D73EE;
  color: white;
  height: 430px;
  padding: 0 30px;
}

.contact-form__form {
  position: relative;
  background-color: white;
  width: 500px;
  height: 60px;
  border-radius: 4px;
  border: 0;
}

.contact-form__form-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
}

.contact-form__form-input {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 60%;
  height: 60%;
  border: 0;
  padding-left: 5px;
  color: #7F818D;
  font-size: 16px;
  font-family: Futura;
  line-height: 22px;
}

.contact-form__form-label {
  position: absolute;
  top: 19px;
  left: 25px;
  color: #7F818D;
  font-size: 16px;
  line-height: 22px;
}

.contact-form__form-submit-btn {
  position: absolute;
  height: 40px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 16px;
  background-color: black;
  border: 0;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-form__form-input:valid + label {
  display: none;
}