.contact-form {
  align-items: center;
  background-color: var(--accent-color);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  height: 430px;
  justify-content: center;
  padding: 0 20px;
}

.contact-form__title {
  font-size: 28px;
  margin: 0;
  text-align: center;
}

.contact-form__form {
  background-color: var(--white-color);
  border-radius: 4px;
  border: 0;
  height: 60px;
  margin-top: 20px;
  max-width: 500px;
  position: relative;
  width: 100%;
}

.contact-form__form-input {
  border: 0;
  color: var(--gray-color);
  font-family: var(--skillshare-font-family);
  font-size: 16px;
  height: 60%;
  left: 20px;
  line-height: 22px;
  padding-left: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
}

.contact-form__form-label {
  color: var(--gray-color);
  font-size: 16px;
  left: 25px;
  line-height: 22px;
  position: absolute;
  top: 19px;
}

.contact-form__form-submit-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.contact-form__form-input:valid + label {
  display: none;
}