.banner {
  height: 450px;
  position: relative;
  width: 100%;
}

.banner__image {
  height: 100%;
  object-fit: cover;
  object-position: left;
  width: 100%;
}

.banner__content {
  color: var(--white-color);
  left: 20px;
  position: absolute;
  right: 20px;
  top: 130px;
}

.banner__content-title {
  line-height: 52px;
  margin: 0;
}

.banner__content-description {
  font-size: 18px;
  line-height: 24px;
  margin: 12px 0 0 0;
}

.banner__content-cta {
  margin-top: 20px;
  text-transform: uppercase;
}

@media screen and (min-width: 767px) {
  .banner__content {
    left: 70px;
    margin: 0 20px;
    position: absolute;
    right: auto;
    top: 190px;
    width: 500px;
  }
}